
.footer-container {
    background-color: var(--color-primary-second-variation);

    min-height: 200px;
    margin-top: 20px;
    box-shadow:  3px 0 4px #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-header {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* #152732 */
/* #2b4c61 */
/* #162b4d */

.footer-header {
	display: flex;
	justify-content: center;
}

.main-text {
	font-size: 21px;
	text-align: center;
	font-weight: 700;
	color: white;

}

:root {
	--color-primary: #208e9f;
	--color-primary-variation: #915e00;
	--color-primary-second-variation:#661502;
	--color-secondary: #7eb78c;
	--color-secondary-variation:#27853e  ;
	--color-palette-first: #dfce9e;
	--color-palette-second: #464a50; 
	--color-palette-plus: #bbbec4; 
	--color-palette-second-var: #208e9f;
	--color-palette-third: #dfeaf5;
	--color-dark: #201D1F;
	--color-white: #ffffff;
}
