:root {
	--color-primary: #0b577a;
	--color-primary-variation: #e49400;
	--color-primary-second-variation:#661502;
	--color-secondary: #7eb78c;
	--color-secondary-variation:#27853e  ;
	--color-palette-first: #dfce9e;
	--color-palette-second: #464a50; 
	--color-palette-plus: #bbbec4; 
	--color-palette-second-var: #208e9f;
	--color-palette-third: #dfeaf5;
	--color-dark: #201D1F;
	--color-white: #ffffff;
}

.produit-container {
    position: relative;
    /* padding: 5px 5px 5px 5px; */
    /* text-align: center; */
}
.produit-container .image {
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}
.produit-container .texte {
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
.produit-container .texte .nom, .produit .texte .brasserie {
    display: block;
}
/* #152732 */
/* #2b4c61 */
/* #162b4d */
.produit {
    display: flex;
    background-color: #eb9800;
    margin: 10px;
    color: aliceblue;
    min-width: 319px;
    max-width: 319px;
    min-height: 220px;
    max-height: 220px;
    border-radius: 20px 0px ;
    /* border: 3px solid white; */
}

.produit:hover {
    background-color: #208c9f;
    transition: 0.2s;
    /* border: 2px solid #115a42; */
}

.produit-text p, 
.produit-text h5 {
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 10px;
    font-weight: 700;
}

h5, p {
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 16px;
}


.login p {
    color: #dfeaf5;
}

.descr {
    max-width: 50ch;
}

.img-biere {
    max-height: 240px;
}

