.produit-container {
    position: relative;
    /* padding: 5px 5px 5px 5px; */
    /* text-align: center; */
}
.produit-container .image {
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}
.produit-container .texte {
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
.produit-container .texte .nom, .produit .texte .brasserie {
    display: block;
}
/* #152732 */
/* #2b4c61 */
/* #162b4d */
.produit {
    display: flex;
    background-color: #162b4d;
    margin: 10px;
    color: aliceblue;
    min-width: 319px;
    max-width: 319px;
    min-height: 220px;
    max-height: 220px;
    /* border: 3px solid white; */
}

.produit-text p, 
.produit-text h5 {
    /* display: flex; */
    /* justify-content: flex-end; */
    padding: 10px;
}

h5, p {
    color: white;
    margin: 10px;
}

.descr {
    max-width: 50ch;
}

.img-biere {
    max-height: 240px;
}

